<%= render 'articles/header' %>
<h1>Editing Comment</h1>

<%= form_for [@article, @comment] do |f| %>
  <%= f.label :approved %>
  <%= f.check_box :approved %>
  <div class="small-9 small-offset-3 columns">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', article_path(@article) %>
