<%= render 'articles/header' %>
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :title, class: "right inline" %><br>
    </div>
    <div class="small-9 columns"><%= f.text_field :title %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
        <%= f.label :content, class: "right inline" %>
    </div>
    <div class="small-9 columns"><%= f.text_area :content %></div>
  </div>
  <div class="small-9 small-offset-3 columns">
    <%= f.submit %>
  </div>
<% end %>
