<%= render 'articles/header' %>
<p>
  <%= image_tag @article.image_url.to_s %>
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong id="author">By:</strong>
  <%= @article.author.email %>
</p>

<p id="status">
  <strong>Status:</strong>
  <%= @article.published? ? "Published" : "Unpublished" %>
</p>

  <%= link_to 'Edit', edit_article_path(@article) if policy(@article).update? %> |
  <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } if policy(@article).destroy? %> |
  <%= link_to 'Back', articles_path %>
<br />
<h3>Comments</h3>
  <div class-"row collapse">
    <% @article.comments.each do |comment| %>
      <% if policy(comment).view? %>
        <p><%= comment.commenter_name %></p>
        <p><%= comment.content %></p>
        <p><%= link_to 'Edit', edit_article_comment_path(@article, comment) if policy(comment).update? %></p>
        <p><%= link_to 'Destroy', article_comment_path(@article, comment), method: :delete, data: { confirm: 'Are you sure?' } if policy(comment).update? %></p>
      <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= render 'comment_form' %>
<% end %>
